*.json
*.pt
*.bin
*.safetensors*
*.pyc
*.pth
*.model
*.jsonl
*.ipynb
*.log
*.pkl
.nfs*
**/ans/
!requirements.txt

preprocess_data/
.vscode/
__pycache__
input/
input_next/
input_sam/
input_next_mini/
input_sam_mini/
input_test/
venv/
input_small/